{% extends "base.html" %}

{% block title %}О программе{% endblock %}

{% block contents %}

<h1>Информация о программе</h1>
  <div class="container-fluid">
    <div class="row p-3">
      <p>Добро пожаловать в программу расчётов балки!
        Для использования калькулятора перейдите в соответствующий раздел.</p>
    </div>
    <div class="row p-3">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Инструкция</h5>
            <p class="card-text">Работа с калькулятором предельно проста - для начала необходимо выбрать расчетный пакет, исходя из условий задачи. На данный
               момент у нас представлены калкуляторы для стержневой и пружинной систем</p>
            <p class="card-text">Чтобы воспользоваться калькулятором <b>стержневой системы</b> необходимо знать следующие параметры:</p>
             <p>- Модули упругости всех стержней системы;</p>
              <p>- Длины и площади трёх стержней системы;</p>
              <p>- Действующие на систему силы;</p>
              <p class="card-text">Для калькулятора <b>пружинной системы</b> достаточно указать лишь:</p>
              <p> - Жесткость двух пружин </p>
              <p> - Силы, действующие систему</p>
              <p>Схема задач представлены на картинках справа от полей ввода</p>
            </p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <img src="/static/eng.png" class="rounded" alt="engineer">
      </div>
    </div>
</div>
{% endblock %}