{% extends "base.html" %}

{% block title %}О программе{% endblock %}

{% block contents %}

<h1>Информация о программе</h1>
  <div class="container-fluid">
    <div class="row p-3">
      <p>Добро пожаловать в программу расчётов балки!
        Для использования калькулятора перейдите в соответствующий раздел.</p>
    </div>
    <div class="row p-3">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Инструкция</h5>
            <p class="card-text">Здесь будет размещена инструкция по работе с онлайн-калькулятором.</p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <img src="/static/eng.png" class="rounded" alt="engineer">
      </div>
    </div>
</div>
{% endblock %}