{% extends "base.html" %}

{% block title %}Калькулятор{% endblock %}

{% block contents %}
  <h1 class="text-center">Аккаунт</h1>
  <p class="text-center">Добро пожаловать в вашу учётную запись, {{ request.user.first_name|default:request.user.username }}.</p>
  <div class="card-body">
    <h5 class="card-title text-center">Общая информация</h5>
    <p class="card-text text-center">Сайт только начал свою работу, поэтому возможны небольшие сбои. Пожалуйста, сообщайте о них на нашу почту:  <a href="mailto:info@domain.com" title="glorythemes">BeamApp@gmail.com</a>
    </p>
    <p class="text-center">Сейчас в работе только два расчетных пакета - для стержневых и пружинных систем.
		В дальнейшем планируется добавить возможность редактирования условий задач, функций минимизации.
      Также планируется расширить количество калькуляторов, например, для сложных рам и ферм.</p>
  </div>
  <p class="text-center">Поддержать нас: 8-800-535-35-35</p>
</div>
<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div> 
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>        
{% endblock %}
