{% extends "base.html" %}

{% block title %}Калькулятор{% endblock %}

{% block contents %}
  <h1 class="text-center">Аккаунт</h1>
  <p class="text-center">Добро пожаловать в вашу учётную запись, {{ request.user.first_name|default:request.user.username }}.</p>
  <div class="card-body">
    <h5 class="card-title text-center">Общая информация</h5>
    <p class="card-text text-center">Сайт только начал свою работу, поэтому возможны небольшие сбои. Пожалуйста, сообщайте о них на нашу почту:  <a href="mailto:info@domain.com" title="glorythemes">BeamApp@gmail.com</a>
    </p>
    <p class="text-center">Сейчас в работе только два расчетных пакета - для стержневых и пружинных систем.
		В дальнейшем планируется добавить возможность редактирования условий задач, функций минимизации.
      Также планируется расширить количество калькуляторов, например, для сложных рам и ферм.</p>
  </div>
  <p class="text-center">Поддержать нас: 8-800-535-35-35</p>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">

            <div class="row pad">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Имя пользователя: <strong class="float-right">{{request.user}}</strong>
                                </li>
                                <li class="list-group-item">
                                    Полное имя: <strong class="float-right">{{request.user.get_full_name}}</strong>
                                </li>
                                <li class="list-group-item">
                                    Email: <strong class="float-right">{{request.user.email}}</strong>
                                </li>
                                <li class="list-group-item">
                                        Аватар: <strong class="float-right">
                                            <img src="{{user.profile.image.url}}" class="rounded-circle" alt=""
                                                width="50px" height="50px"></strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
{% endblock %}
