{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block contents %}
<body class="text-center">
  <h1>Добро пожаловать, {{ new_user.first_name }}!</h1>
  <p>
    Ваш аккаунт был успешно создан.
    Теперь вы можете <a href="{% url "login" %}">войти в систему</a>.
  </p>
  <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div> 
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>    
</body>
  {% endblock %}