{% extends "base.html" %}

{% block title %}Измените ваш пароль{% endblock %}

{% block contents %}
<body class="text-center">
  <h1>Измените ваш пароль</h1>
  <p>Для смены пароля используйте форму ниже.</p>
  <form method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Change"></p>
    {% csrf_token %}
  </form>
<div class= "row p-2"> </div>
<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div> 
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>   
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
				<div class= "row p-2"> </div>  
        <div class= "row p-2"> </div>
				<div class= "row p-2"> </div>
</body>
{% endblock %}